.header {
 display:flex;
  justify-content: ;
  align-items: center;
  padding: 10px 160px;
  border-bottom: 1px solid #e0e0e0;
  background-color: rgb(255, 255, 255);
  position:sticky;
 top: 0;
  z-index: 1000;
  max-width: 100%;
  box-sizing: border-box; 
  ;
}

.logo img {
  height: 150px;
  width: auto;
}


.nav a {
  margin: 0 1rem; /* reduz o espaçamento lateral */
  font-size: 25px; /* ajustado pra caber melhor */
  text-align: center;
  font-family: 'Slabo 27px', serif;
  color: #4b2b63;

  text-decoration: none;
  max-width: 100%;
  white-space: nowrap; /* evita quebra indesejada de texto */
}

.nav a:hover {
  color: #aa14c2cf;
}
.portfolio-slide img, .grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-sizing: border-box;
  
}
.insta-link {
  margin-left: 1.5rem;
  display:inline-flexbox;
  align-items: center;
  transition: transform 0.2s ease;
}

.insta-link:hover {
  transform: scale(1.2);
  color: #aa14c2cf;
}
