.portfolio {
  padding: 10% 2rem;
  background-color: #fafafa;
  text-align: center;
}

.portfolio h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #5e2a84; /* tom roxo açaí */
}

.tatuadoras-grid {
  display:grid;
  
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  max-width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  
}

  .cards {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a linha seguinte quando não cabem */
    justify-content: space-between; /* Distribui os cards igualmente na linha */
    gap: 2rem;
    
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 20px rgba(131, 23, 141, 0.927);
}

.image-container {
  position: relative;
  width: 100%;
  height: 260px;
  overflow:hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.foto-tatuagem {
  opacity: 0;
}

.image-container:hover .foto-perfil {
  opacity: 0;
}

.image-container:hover .foto-tatuagem {
  opacity: 1;
}
.card img {
  transition: transform 0.s ease, box-shadow 0.3s ease;
}

.card img:hover {
  transform: scale(1.50);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card p {
  font-size: 1rem;
  font-weight: 500;
  margin: 16px;
  color: #333;
}
@media (max-width: 768px) {
  .cards {
    flex-direction: column; /* Muda a direção dos cards para vertical */
    align-items: center;/* Alinha os cards ao centro */
  }

  .card {
    width: 90%; /* Ajusta a largura dos cards para 90% da tela */
  }
}