:root {
  --roxo-acai: #6A1B9A;
  --bege-suave: #fefcfb;
  --cinza-texto: #5a5a5a;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bege-suave);
  font-family: 'Slabo 27px', serif;
  color: var(--cinza-texto);
}

a {
  color: var(--roxo-acai);
  text-decoration: none;
}

h1, h2, h3 {
  color: var(--roxo-acai);
  margin-bottom: 0.5rem;
}

button {
  font-family: 'Slabo 27px', serif;
  background-color: var(--roxo-acai);
  color: rgb(119, 44, 44);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a126d;
}

.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
